/* Beccas CSS
.becca{
  height: 100%;
} */



.feed {
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
}

.user {
  width: 2.5rem; 
  height: 2.5rem;
  border-radius: 50%;
  margin-top: 55px;
  margin-left: 10px;
}

.user:hover {
  cursor: pointer;
  -webkit-filter: grayscale(30%);
}
/* h5 {
  position: fixed;
  background-color: rgb(255, 255, 255, 0.97);
  padding: 10px;
  width: 646px;
  height: 8%;
  z-index: 1;
  } */

  header {
    position: fixed;
    background-color: rgb(255, 255, 255, 0.97);
    padding: 10px;
    height: 8%;
    width: 640px;
    z-index: 1;
  }

  h5:hover {
    cursor: pointer;
  }
  #top-gnags {
    margin-left: 580px;
    margin-top: -40px;
  }
  #top-gnags:hover {
    transform: scale(1.5);
  }

.gnaga {
  margin-top: 2rem;
  border-bottom: 1px solid lightgray;
  height: 165px;
}
.happening {
  position: absolute;
  border: none;
  margin-left: 15px;
  margin-top: 55px;
  font-size: 20px;
  color: rgb(120, 117, 117);
  cursor: text;
  padding: 10px;
}
.happening:focus {
  outline: none;
}

/* .happening {
  margin-left: 65px;
  margin-top: -35px;
  font-size: 20px;
  color: rgb(120, 117, 117);
  cursor: text;
  padding: 10px;
} */
.symbols {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  margin-top: 40px;
  margin-left: 80px;
  width: 25%;
}

.symbols-item:hover {
  cursor: pointer;
  transform: scale(1.5);
}


#post-gnag {
  background-color: rgb(163, 163, 142);
  /* color: white; */
  /* border-radius: 20px; */
  /* border: 0px; */
  /* padding: 8px 18px; */
  /* font-size: 16px; */
  /* position: absolute; */
  margin: -35px 550px;
}

.all-gnags {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.all-gnags-item {
/* padding-bottom: 0px; */
/* margin-top: -45px; */
border-bottom: solid 1px lightgray;
}
.all-gnags-item .user {
  margin-top: 10px;
}
.all-gnags-item:hover {
  background-color: #e1e3e4;
}
.display-name {
  /* position: relative;
  font-weight: bold; */
  margin-left: 4rem;
  margin-top: -40px;
}
.display-name:hover {
  text-decoration: underline;
}
.username {
  position: relative;
  margin-left: 10em;
  margin-top: -40px;
  color: grey;
}
.time {
  position: relative;
  margin-left: 18em;
  margin-top: -40px;
  color: grey;
}
.more {
  position: relative;
  margin-left: 32em;
  margin-top: -40px;
  font-weight: bold;
  font-size: 16px;
}
.gnageri {
  margin-left: 65px;
  margin-top: -10px;
  padding-bottom: 2px;
  padding-top: 0px;
}

.reactions {
  margin-bottom: -10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.reactions p {
  padding-right: 120px;
  padding-left: 10px;
  margin-top: 15px;
}

.reactions-item:hover{
  transform: scale(1.5);

}
/* .tag {
  color: rgb(68, 127, 255);
} */

#dinner {
  margin-left: 60px;
  border: solid 1px rgb(148, 148, 148);
  border-radius: 15px;
}
#horror {
  margin-left: 60px;
  border: solid 1px rgb(148, 148, 148);
  border-radius: 15px;
}
#birthday {
  margin-left: 60px;
  border: solid 1px rgb(148, 148, 148);
  border-radius: 15px;
}
#furReal-loc {
  margin-left: 65px;
  margin-top: -15px;
  color: rgb(148, 148, 148);
}
#haircut {
  margin-left: 60px;
  border: solid 1px rgb(148, 148, 148);
  border-radius: 15px;
}
#wasted {
  margin-left: 60px;
  border: solid 1px rgb(148, 148, 148);
  border-radius: 15px;
}
#username1 {
  margin-left: 150px;
}
#username3 {
  margin-left: 148px;
}
#username4 {
  margin-left: 153px;
}
#username5 {
  margin-left: 157px;
}
#username6 {
  margin-left: 157px;
}
#username7 {
  margin-left: 185px;
}
#username8 {
  margin-left: 158px;
}
#username9 {
  margin-left: 130px;
}


