Mattias CSS /
.box {
  background-color: white !important;
}

.leftside {
  background-color: palevioletred;
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet-button {
  background-color: #1da1f2;
  color: white;
  border: #1da1f2;
  width: 175px;
  height: 40px;
  border-radius: 30px;
}

ul li a img {
  width: 22px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

.icon {
  width: 26px;
  height: auto;
}

.icon:hover {
  background-color: rgba(142, 239, 246, 0.541);
}

a {
  text-decoration: none;
  color: #14171a;
}

.hangingrat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-account {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: inherit;
  height: auto;
}

.test {
  position: relative;
}

.user-account {
  position: absolute;
  bottom: 0px;
  display: flex;
  margin-bottom: 15px;
}

.my-dots {
  margin-left: 40px;
}

.my-dots:hover {
  background-color: rgb(233, 141, 21, 30%);
  border-radius: 50%;
}

.p-container {
  background-color: aliceblue;
}

.p--1 {
  background-color: rebeccapurple;
}

.p--2 {
  background-color: tomato;
}