
.box {
  background-color: white !important;
}

.leftside {
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftside ul{
  display:flex;
  flex-direction: column;
  padding-left: 0 !important;
}

.tweet-button {
  background-color:rgb(163, 163, 142);
  color: white;
  width: 200px;
  height: 50px;
}
.tweet-button::before {
  content: 'Gnag';
}

ul li a img {
  width: 22px;
  height: auto;
  margin-right: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  list-style: none;
}

/*
li:hover {
  background-color: #aab8c2;
  cursor: pointer;
} */

.icon {
  width: 26px;
}

.icon:hover {
  background-color: rgba(142, 239, 246, 0.541);
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #14171a;
}

.hangingrat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: inherit;
}

.test {
  position: relative;
}

.user-account {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5px;
  margin-left: -100px;
}

.user-account:hover {
  cursor: pointer;
}

.my-dots {
  margin-left: 250px;
  margin-top: 60px;
}

.my-dots:hover {
  background-color: rgb(233, 141, 21, 30%);
  border-radius: 50%;
  cursor: pointer;
}

.p-container {
}

.p--1 {
  margin-left: 0px;
}
.p--2 {
  margin-left: -80px;
  margin-top: 40px;
  color: grey;
}
